body{
	background:#EEE;
}
.btn-group>.btn{
	border-radius: 0;
	width: 33.3%;
	height: 50px;
	line-height: 38px;
}

.navi_text{
	font-size: 16px;
	text-decoration: none;
	color: #ee8c28;
	font-weight: bold;
}
.navi_text:hover{
	font-size: 16px;
	text-decoration: none;
	color: #ee8c28;
	font-weight: bold;
}

.inputLabel{
	width:82px;
	display: block;
}

.callout {
	padding: 5px;
	margin: 10px 0;
	border: 1px solid #ee8c28;
	border-left-width: 5px;
	border-radius: 3px;
}
.callout-info {
	border-left-color: #5bc0de;
}

.eventContaint{
	padding:4px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 20px;
}
.eventImg{
	display: inline-block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
	line-height: 1.42857143;
	background-color: #fff;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.myconfirm{
	display:none;
	background-color: #fff;
	z-index: 9999;
	width: 80%;
	margin: 0 10%;
	min-height: 150px;
	padding: 5px;
	position: absolute;
	top: 100px;
	border: 1px solid #ee8c28;
	border-radius: 4px;
}
.myconfirm > div{
	width: 100%;
}
.myconfirm > div > .confirm-btn{
	padding: 5px;
	background-color: #ee8c28;
	color:#fff;
	position: absolute;
	right: 5px;
}
.myconfirm > div > .close-btn{
	padding: 5px;
	color:#999;
}